*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
    min-height: 100vh;
    background: #000;
}
#text{
    text-shadow: 2px 3px 0 #960404;
    font-size: 60px;
    letter-spacing: 5px;
}

@media screen and (max-width: 700px) {
    #text {
      font-size: 30px;
    }
  }
@media screen and (max-width: 350px) {
    #text {
      font-size: 20px;
    }
  }